@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-text: #898989;
  --primary-red: #E60000;
  --primary-yellow: #FFD700;
  --cta-shadow: 0 0 15px rgba(230, 0, 0, 0.6);
  --glow-gold: 0 0 10px rgba(255, 215, 0, 0.7), 0 0 20px rgba(255, 215, 0, 0.5)


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar-text);
  --color-primary-red: var(--primary-red);
  --color-primary-yellow: var(--primary-yellow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  h1 {
    @apply text-white uppercase font-black text-6xl leading-tight;
  }
}

@layer components {
  .title-retro {
    @apply relative text-4xl font-black mb-10 uppercase;
  }

  /* Nota: per i pseudo-elementi complessi con valori arbitrari (le parentesi quadre),
     spesso è meglio usare CSS standard qui dentro invece di @apply */
  .title-retro::after {
    content: '';
    @apply absolute left-0 w-[60px] h-[4px] bg-[#E60000] shadow-[0_0_15px_rgba(230,0,0,0.6)];
    bottom: -10px;
  }
}

